<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bai.png</key>
            <dict>
                <key>frame</key>
                <string>{{244,240},{68,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{68,90}}</string>
                <key>sourceSize</key>
                <string>{68,90}</string>
            </dict>
            <key>bei.png</key>
            <dict>
                <key>frame</key>
                <string>{{166,92},{68,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{68,90}}</string>
                <key>sourceSize</key>
                <string>{68,90}</string>
            </dict>
            <key>bottom.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,135},{95,133}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{95,133}}</string>
                <key>sourceSize</key>
                <string>{95,133}</string>
            </dict>
            <key>bottomgang.png</key>
            <dict>
                <key>frame</key>
                <string>{{89,269},{85,121}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{85,121}}</string>
                <key>sourceSize</key>
                <string>{85,121}</string>
            </dict>
            <key>bottomhand.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1},{95,133}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{95,133}}</string>
                <key>sourceSize</key>
                <string>{95,133}</string>
            </dict>
            <key>bottompengchi.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,269},{87,123}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{87,123}}</string>
                <key>sourceSize</key>
                <string>{87,123}</string>
            </dict>
            <key>dong.png</key>
            <dict>
                <key>frame</key>
                <string>{{166,1},{68,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{68,90}}</string>
                <key>sourceSize</key>
                <string>{68,90}</string>
            </dict>
            <key>fa.png</key>
            <dict>
                <key>frame</key>
                <string>{{277,382},{68,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{68,90}}</string>
                <key>sourceSize</key>
                <string>{68,90}</string>
            </dict>
            <key>hua_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{208,382},{68,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{68,90}}</string>
                <key>sourceSize</key>
                <string>{68,90}</string>
            </dict>
            <key>hua_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{175,246},{68,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{68,90}}</string>
                <key>sourceSize</key>
                <string>{68,90}</string>
            </dict>
            <key>hua_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{97,92},{68,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{68,90}}</string>
                <key>sourceSize</key>
                <string>{68,90}</string>
            </dict>
            <key>hua_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{97,1},{68,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{68,90}}</string>
                <key>sourceSize</key>
                <string>{68,90}</string>
            </dict>
            <key>hua_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{139,391},{68,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{68,90}}</string>
                <key>sourceSize</key>
                <string>{68,90}</string>
            </dict>
            <key>hua_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{70,393},{68,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{68,90}}</string>
                <key>sourceSize</key>
                <string>{68,90}</string>
            </dict>
            <key>hua_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,393},{68,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{68,90}}</string>
                <key>sourceSize</key>
                <string>{68,90}</string>
            </dict>
            <key>hua_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{658,274},{68,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{68,90}}</string>
                <key>sourceSize</key>
                <string>{68,90}</string>
            </dict>
            <key>lefthand.png</key>
            <dict>
                <key>frame</key>
                <string>{{234,183},{27,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{27,56}}</string>
                <key>sourceSize</key>
                <string>{27,56}</string>
            </dict>
            <key>lefthandcenter.png</key>
            <dict>
                <key>frame</key>
                <string>{{23,484},{21,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{21,26}}</string>
                <key>sourceSize</key>
                <string>{21,26}</string>
            </dict>
            <key>leftrightgang.png</key>
            <dict>
                <key>frame</key>
                <string>{{238,337},{62,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{62,44}}</string>
                <key>sourceSize</key>
                <string>{62,44}</string>
            </dict>
            <key>leftrightpengchi.png</key>
            <dict>
                <key>frame</key>
                <string>{{175,337},{62,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{62,44}}</string>
                <key>sourceSize</key>
                <string>{62,44}</string>
            </dict>
            <key>nan.png</key>
            <dict>
                <key>frame</key>
                <string>{{658,183},{68,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{68,90}}</string>
                <key>sourceSize</key>
                <string>{68,90}</string>
            </dict>
            <key>righthand.png</key>
            <dict>
                <key>frame</key>
                <string>{{262,183},{27,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{27,56}}</string>
                <key>sourceSize</key>
                <string>{27,56}</string>
            </dict>
            <key>righthandcenter.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,484},{21,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{21,26}}</string>
                <key>sourceSize</key>
                <string>{21,26}</string>
            </dict>
            <key>tiao_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{649,92},{68,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{68,90}}</string>
                <key>sourceSize</key>
                <string>{68,90}</string>
            </dict>
            <key>tiao_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{649,1},{68,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{68,90}}</string>
                <key>sourceSize</key>
                <string>{68,90}</string>
            </dict>
            <key>tiao_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{622,365},{68,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{68,90}}</string>
                <key>sourceSize</key>
                <string>{68,90}</string>
            </dict>
            <key>tiao_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{589,274},{68,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{68,90}}</string>
                <key>sourceSize</key>
                <string>{68,90}</string>
            </dict>
            <key>tiao_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{589,183},{68,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{68,90}}</string>
                <key>sourceSize</key>
                <string>{68,90}</string>
            </dict>
            <key>tiao_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{580,92},{68,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{68,90}}</string>
                <key>sourceSize</key>
                <string>{68,90}</string>
            </dict>
            <key>tiao_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{580,1},{68,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{68,90}}</string>
                <key>sourceSize</key>
                <string>{68,90}</string>
            </dict>
            <key>tiao_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{553,365},{68,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{68,90}}</string>
                <key>sourceSize</key>
                <string>{68,90}</string>
            </dict>
            <key>tiao_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{520,274},{68,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{68,90}}</string>
                <key>sourceSize</key>
                <string>{68,90}</string>
            </dict>
            <key>tong_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{520,183},{68,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{68,90}}</string>
                <key>sourceSize</key>
                <string>{68,90}</string>
            </dict>
            <key>tong_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{511,92},{68,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{68,90}}</string>
                <key>sourceSize</key>
                <string>{68,90}</string>
            </dict>
            <key>tong_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{511,1},{68,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{68,90}}</string>
                <key>sourceSize</key>
                <string>{68,90}</string>
            </dict>
            <key>tong_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{484,365},{68,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{68,90}}</string>
                <key>sourceSize</key>
                <string>{68,90}</string>
            </dict>
            <key>tong_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{451,274},{68,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{68,90}}</string>
                <key>sourceSize</key>
                <string>{68,90}</string>
            </dict>
            <key>tong_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{451,183},{68,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{68,90}}</string>
                <key>sourceSize</key>
                <string>{68,90}</string>
            </dict>
            <key>tong_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{442,92},{68,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{68,90}}</string>
                <key>sourceSize</key>
                <string>{68,90}</string>
            </dict>
            <key>tong_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{442,1},{68,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{68,90}}</string>
                <key>sourceSize</key>
                <string>{68,90}</string>
            </dict>
            <key>tong_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{415,365},{68,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{68,90}}</string>
                <key>sourceSize</key>
                <string>{68,90}</string>
            </dict>
            <key>topchipengchu.png</key>
            <dict>
                <key>frame</key>
                <string>{{144,183},{45,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{45,62}}</string>
                <key>sourceSize</key>
                <string>{45,62}</string>
            </dict>
            <key>topgang.png</key>
            <dict>
                <key>frame</key>
                <string>{{190,183},{43,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{43,60}}</string>
                <key>sourceSize</key>
                <string>{43,60}</string>
            </dict>
            <key>tophand.png</key>
            <dict>
                <key>frame</key>
                <string>{{97,183},{46,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{46,64}}</string>
                <key>sourceSize</key>
                <string>{46,64}</string>
            </dict>
            <key>w_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{382,274},{68,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{68,90}}</string>
                <key>sourceSize</key>
                <string>{68,90}</string>
            </dict>
            <key>w_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{382,183},{68,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{68,90}}</string>
                <key>sourceSize</key>
                <string>{68,90}</string>
            </dict>
            <key>w_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{373,92},{68,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{68,90}}</string>
                <key>sourceSize</key>
                <string>{68,90}</string>
            </dict>
            <key>w_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{373,1},{68,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{68,90}}</string>
                <key>sourceSize</key>
                <string>{68,90}</string>
            </dict>
            <key>w_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{346,365},{68,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{68,90}}</string>
                <key>sourceSize</key>
                <string>{68,90}</string>
            </dict>
            <key>w_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{313,274},{68,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{68,90}}</string>
                <key>sourceSize</key>
                <string>{68,90}</string>
            </dict>
            <key>w_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{313,183},{68,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{68,90}}</string>
                <key>sourceSize</key>
                <string>{68,90}</string>
            </dict>
            <key>w_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{304,92},{68,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{68,90}}</string>
                <key>sourceSize</key>
                <string>{68,90}</string>
            </dict>
            <key>w_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{304,1},{68,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{68,90}}</string>
                <key>sourceSize</key>
                <string>{68,90}</string>
            </dict>
            <key>xi.png</key>
            <dict>
                <key>frame</key>
                <string>{{235,92},{68,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{68,90}}</string>
                <key>sourceSize</key>
                <string>{68,90}</string>
            </dict>
            <key>zhong.png</key>
            <dict>
                <key>frame</key>
                <string>{{235,1},{68,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{68,90}}</string>
                <key>sourceSize</key>
                <string>{68,90}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>mjcard.png</string>
            <key>size</key>
            <string>{727,511}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:bd3fd389be701a4e42a7592a7b25c37a$</string>
            <key>textureFileName</key>
            <string>mjcard.png</string>
        </dict>
    </dict>
</plist>
